@use '../abstracts/_abstracts-dir' as *;


.input {
    padding: 0.2em 0.6rem;
    background: transparent;
    border: 0;
    border-radius: 100vh;
    color: $clr-white;
}

.input:focus {
    outline: none;
}

.search-container {
    border-radius: 100vh;
    background-color: red;
    border: solid 2px transparent;
    background-image: linear-gradient($clr-grey, $clr-grey), 
                      $clr-gradient-900;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    
    @media screen and (max-width: 860px) {
        display: none;
    }
}
